*.root
*.txt
*.hepmc
*.png
*/plots/
*.pcm
*.pdf
*.table
*.csv
*.pyc
*/.ipynb_checkpoints/
*/SimultaneousFit/multiGauss/build/
*/SimultaneousFit/multiGauss/multi.cpython-36m-x86_64-linux-gnu.so
*/SimultaneousFit/multiGauss/multi.so
*/Preselection/__pycache__/
